
{% load i18n %}
<h3>{% trans "Password reset" %}</h3>
{# <p>Temporalmente no disponible, inténtalo más tarde.</p> #}

{% if error %}
Hubo un error, comprueba que el email es correcto.
{% else %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
{% endif %}
<div id="bla"></div>
<form id="forgot_form" action="/forgot/" method="post">{% csrf_token %}
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>
