<div id="ciudades">
    <a href="{% url sitios.views.index "almeria" %}"><span>Almería</span></a> / 
    <a href="{% url sitios.views.index "cadiz" %}"><span>Cádiz</span></a> / 
    <a href="{% url sitios.views.index "cordoba" %}"><span>Córdoba</span></a> / 
    <a href="{% url sitios.views.index "granada" %}"><span>Granada</span></a> / 
    <a href="{% url sitios.views.index "huelva" %}"><span>Huelva</span></a> / 
    <a href="{% url sitios.views.index "jaen" %}"><span>Jaén</span></a> / 
    <a href="{% url sitios.views.index "malaga" %}"><span>Málaga</span></a> / 
    <a href="{% url sitios.views.index "sevilla" %}"><span>Sevilla</span></a>
</div>