<ul class="menu_user">
  <li>
    <a id="ficha" href="/user/{{ user }}/">
      <img src="/media/icons/user.png" />
      <p>
        <strong>Ficha</strong><br/>
        Resumen de tu cuenta personal.
      </p>
    </a>
  </li>
  <li>
    <a id="recomendaciones" href="/user/recomendaciones/">
       <img src="/media/icons/chart.png" />
       <p>
         <strong>Recomendaciones</strong><br/>
         Encuentra sitios que pueden ser de tu interés.
       </p>
    </a>
  </li>
  <li>
    <a id="mensajes" href="/user/mensajes/">
       <img src="/media/icons/mail.png" />
       <p>
         <strong>Mensajes</strong><br/>
         Recepción y envío de mensajes privados.
       </p>
    </a>
  </li>
  <li>
    <a id="ajustes" href="/user/ajustes/">
      <img src="/media/icons/process.png" />
      <p>
        <strong>Ajustes</strong><br/>
        Modifica tus preferencias y datos personales.
      </p>
    </a>
  </li>
  <li>
    <a id="ayuda" href="/user/ayuda/">
      <img src="/media/icons/help.png" />
      <p>
        <strong>Ayuda</strong><br/>
        Aprende a utilizar andalucíaPeople.
      </p>
    </a>
  </li>
</ul>
