{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title|escape }}{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; <a href="{% url sitios.views.legal %}">{% trans "Información legal y condiciones de uso" %}</a>{% endblock %}

{% block cuerpo %}
<h3>Información legal / Condiciones de uso</h3>

<p>IMPORTANTE: El acceso y navegación por andaluciapeople.com y/o el uso de los servicios ofrecidos en este lugar implica que el usuario acepta la política de privacidad, el aviso legal y las condiciones de uso de este servicio. En caso de no aceptarlos, no debe usar andaluciapeople.com.</p>

<p>AVISO: Esta página sólo aplica al lugar que se encuentra bajo el dominio andaluciapeople.com.</p>

<h4>Información legal</h4>

<p>En conformidad al Art.10 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico se informa:</p>

<p>El dominio andaluciapeople.com es propiedad y está administrado por Manuel Martín Salvador.</p>

<p>Correo electrónico: correo[arroba]andaluciapeople.com</p>

<h4>Sobre los datos de los usuarios</h4>

<p>En conformidad con lo previsto en la Ley Orgánica 15/1999, del 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), los gestores de andaluciapeople.com informan de la existencia de un fichero de su titularidad en el cual se incluirán los datos necesarios para mantener informados a los usuarios que así lo requieran o proporcionar los servicios que los usuarios soliciten.</p>

<p>El titular podrá ejercitar los derechos reconocidos en la LOPD sobre este fichero y, en particular, los de acceso, rectificación o cancelación de datos y oposición, si resultara pertinente, así como el de revocación del consentimiento para la cesión de sus datos en los términos previstos en la LOPD. Los usuarios pueden realizar estas acciones editando sus propios datos en el web andaluciapeople.com o enviando una solicitud a coreo[arroba]andaluciapeople.com.</p>

<p>Los comentarios, fotografías y votos enviados enviados voluntariamente por los usuarios no son datos personales de carácter privado sino públicos. Quedan relacionados con los votos y comentarios de otros usuarios. Los gestores de andaluciapeople.com podrán conservar estos datos con el objetivo de mantener la coherencia de la información publicada y los envíos de todos los usuarios.</p>

<h4>Privacidad</h4>

<p>Los ficheros de andaluciapeople.com no contienen datos de carácter privado ni requieren información para identificar personas físicas.</p>

<p>Las empresas que sirven los anuncios de andaluciapeople.com, o las que llevan las estadísticas de acceso, podrían usar cookies con fines estadísticos. Los usuarios pueden eliminarlos o impedir el envío de esos cookies desde las opciones de su navegador.</p>

<h4>Exclusión de garantías y responsabilidad</h4>

<p>Los gestores de andaluciapeople.com no garantizan la licitud, fiabilidad, exactitud, exhaustividad, actualidad y utilidad de los contenidos.</p>

<p>El establecimiento de un hiperenlace, enlace, intercambio, no implica en ningún caso la existencia de relaciones entre los gestores de andaluciapeople.com y el propietario del lugar web con la que se establezca, ni la aceptación y aprobación de sus contenidos o servicios.</p>

<p>Los gestores de andaluciapeople.com excluyen toda responsabilidad en los sitios enlazados desde esta web y no pueden controlar y no controlan que entre ellos aparezcan sitios de Internet cuyos contenidos puedan resultar ilícitos, ilegales, contrarios a la moral o a las buenas costumbres o inapropiados. El usuario, por tanto, debe extremar la prudencia en la valoración y utilización de la información, contenidos y servicios existentes en los sitios enlazados.</p>

<p>Los gestores de andaluciapeople.com excluyen toda responsabilidad por los contenidos publicados por los usuarios, terceros y de las mismas serán responsables los usuarios o terceros de quienes procedan.</p>

<h4>Condiciones de uso</h4>

<p>Los datos de un sitio deben ser lo más exactos posibles y reales con el fin servir de guía útil al resto de los visitantes.</p>

<p>El usuario se abstendrá de escribir comentarios y enviar fotografías difamatorios, racistas, obscenos, pornográficos, ofensivos, que promuevan el odio racial, étnico, religioso, homófobo o de género, de violencia explícita o incitación a la violencia, que afecten a la privacidad y/o derechos de la infancia.</p>

<p>El usuario se abstendrá de utilizar cualquiera de los servicios ofrecidos en andaluciapeople.com con fines o efectos ilícitos, lesivos de los derechos e intereses de terceros, o que puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, los equipos informáticos o los documentos, archivos y cualquier contenido almacenado en andaluciapeople.com o servidores externos enlazados desde andaluciapeople.com.</p>

<p>El usuario se abstendrá de acosar, amenazar y obtener o divulgar información privada de otros usuarios de andaluciapeople.com.</p>

<p>El usuario se abstendrá de usar andaluciapeople.com con el objetivo de a) la promoción exclusiva de un sitio web, empresas, redes de blogs o de afiliación de enlaces (spam); b) las campañas comerciales (aunque el lugar promocionado no contenga publicidad directa), políticas o ideológicos promoviendo el voto masivo a las noticias objeto de la campaña o del lugar promocionado; c) la provocación gratuita o molestia injustificada a los demás usuarios y visitantes de andaluciapeople.com.</p>

<p>El usuario se abstendrá de crear múltiples cuentas con el fin de promocionar sitios webs, participar en discusiones simulando las opiniones de personas distintas (astroturfing), suplantar la identidad de otras personas o intentar alterar artificialmente los contadores de votos y puntos y crear múltiples usuarios con el único objetivo de eludir las restricciones y penalizaciones generales del sistema.</p>

<p>El usuario abstendrá de intentar promocionar el voto desde sitios de terceros mediante el uso de técnicas informáticas distintas a las ofrecidas por andaluciapeople.com.</p>

<p>El incumplimiento de las condiciones de uso podría significar el bloqueo de la cuenta de usuario y/o dominio web, el borrado y/o edición del texto ofensivo, y las medidas y denuncias adecuadas según las leyes españolas y europeas.</p>

<p>Con el objetivo de mejorar el servicio y minimizar los problemas, andaluciapeople.com se reserva el derecho a modificar y actualizar las condiciones de uso sin previo aviso.</p>

<p><small>Inspiradas en las <a href="http://meneame.net/legal.php">condiciones de meneame.net</a></small></p>
{% endblock %}
